
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: auto;
}

.navbar {
    display: grid;
    grid-template-columns: 140px 1fr 250px;
    grid-template-areas: "nav-brand nav-menu nav-tools";
    height: 60px;
    background-color: #292929; 
}

.nav-brand {
    grid-area: nav-brand;
    height: 30px;
    width: 90px;
    padding: 15px 25px 15px 25px;
}

.nav-menu {
    grid-area: nav-menu;
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    width: 810px;
}

li {
    display: inline-block;
    margin: 0px auto 0px auto;
}
li a {
    display: inline-block;
    min-width:190px;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b3b3b3;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    background-image: url(/img/menu-hover.png);
    color: #fff;
}

.nav-tools {
    grid-area: nav-tools;
    padding-top: 15px;
}

#search {
    height: 30px;
    color: #cecece;
    border: none;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
}

.button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: #626262;
    color: #b3b3b3;
    transition: 0.3s;
}

.button:hover {
    background-color: #fff;
}

.hero {
    display: grid;
    grid-template-areas: "hero-feature ad";
    grid-template-columns: 75% 25%;
}

.hero-feature {
    grid-area: hero-feature;
    height: 550px;
    width:100%;
    background-image: url(/img/hero-bg.png);
    transition: 0.3s;
}

.hero-feature:hover {
    opacity: 0.9;
}

.hero-feature-title {
    font-family: calibri;
    padding-top: 250px;
    font-weight: bold;
    text-align: center;
    color: #212121;
    font-size: 60px;
}

.hero-feature-subtitle {
    text-align: center;
    color: #212121;
    font-family: calibri;
    font-size: 24px;
    background-color: rgba(255, 255,255, 0.7);
    opacity: 50%;
    border-radius: 8px;
    width: 500px;
    margin: 0 auto;
    transition: 0.3s;
}

.hero-feature-subtitle:hover {
    background-color: rgba(255, 255,255, 1);
}

.ad {
    grid-area: ad;
    height: 550px;
    width: 100%;
    background-image: url(/img/add.jpg);
    background-repeat: no-repeat;
    background-color: #00050b;
}

.content {
    display: grid;
    grid-template-areas: "article sidebar";
    grid-template-columns: 75% 25%;
}

.article {
    display: grid;
    grid-area: article;
    grid-template-areas: "article-feature article-listing"
                         "article-footer article-footer";
    grid-template-columns: 40% 60%;
    height: auto;
    background-color: #444444;
}

.article-feature {
    grid-area: article-feature;
    width:auto;
}

.aricle-listing {
    grid-area: article-listing;
    padding-left: 10px;
    padding-right: 10px;
}

.article-listing h1 {
    font-family: calibri;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}

.article-listing p {
    font-family: calibri;
    font-size: 13px;
    color: #dedede;
    padding-left: 10px;
    padding-right: 10px;
}

.article-footer {
    grid-area: article-footer;
    width:100%;
    background-color: #2b2b2b;
    height: 20px;
    color: #d5d5d5;
    text-align: right;
    font-family: calibri;
    font-size: 11px;
}

.article-footer img {
    padding-top: 3.5px;
    padding-right: 10px;
    padding-left: 5px;
}

.sidebar {
    grid-area: sidebar;
    height: 476.5px;
    background-color: #222222;
}

.sidebar img {
    height: 80px;
    width: 80px;
    padding: 10px 7px 10px 7px;
    transition: 0.3s;
}

.sidebar h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #dedede;
    font-family: calibri;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.sidebar img:hover {
    opacity: 0.5;
}

.footer {
    display: grid;
    grid-template-areas: "footer-bar";
    grid-template-columns: 100%;
}

.footer-bar {
    grid-area: footer-bar;
    background-color: #444444;
    height: 55px;
    width: 100%;
}

.footer-bar-copyright {
    float: left;
    font-family: calibri;
    font-size: 14px;
    color: #c4c4c4;
    padding-left: 10px;
    padding-top: 20px;
}

.footer-bar-icon {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}